.a{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
  

.card{
    margin-left: 30px;
    margin-top: 10px;
    width: 342px;
    display: inline-block;
    
}


.list-group-ite{
    margin-left: 500px;
    right: float;
}

.btn{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    margin-left: 70px;
}

a{
    margin-top: 20px;
}
.container{
    margin-top: 50px;
}

