.site-footer {
    padding: 20px;
    background: black;
    font-size: 15px;
    top: 100%;
    position: sticky;
    height: 300px;
  }
  .site-footer p:last-child {
    margin-bottom: 0;
  }
  .site-footer a{
    color: white;
    margin-bottom: 1px solid transparent;
  
  }
  .site-footer h5 {
    font-size: 20px;
    margin-bottom: 28px;
    letter-spacing: .05em;
    color: aqua;
  }
  .site-footer .footer-link li {
    line-height: 1.5;
    margin-bottom: 15px;
    color: aqua;
    
  }
  .footer-social  a {
    
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  
  }
  .footer-social a:hover {
    background:aqua;
    border: white;
  }
  
  .text-white {
    font-size: 15px;
  } 
  .content {
    height: 100vh;
  }